@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #10b981, 0 0 10px #10b981, 0 0 20px #10b981, 0 0 40px #10b981;
  }
  50% {
    box-shadow: 0 0 10px #10b981, 0 0 20px #10b981, 0 0 40px #10b981, 0 0 80px #10b981;
  }
  100% {
    box-shadow: 0 0 5px #10b981, 0 0 10px #10b981, 0 0 20px #10b981, 0 0 40px #10b981;
  }
}

.glowing-emerald {
  animation: glowing 2s linear infinite;
}